In [1]:
# IMPORTS

import pandas as pd
import os

<h1 style='text-align: center'}>Data Loading</h1>

## Reading The Data
To begin, I’ll load the necessary datasets into my workspace. This step is essential for setting up the core data I’ll need throughout the project.
By reading the data into DataFrames, I’ll be ready to explore its structure and contents, which will help guide the data cleaning and preprocessing steps that follow.

In [2]:
train = pd.read_csv("data/raw_data/train.csv")
macro = pd.read_csv("data/raw_data/macro.csv")

Now, I’ll perform an initial inspection of both the training and macro datasets to understand their structure, dimensions, and variable types.

In [3]:
train.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [4]:
dimensions = {
    'Training dataset shape': train.shape,
    'Macro dataset shape': macro.shape
}
dimensions

{'Training dataset shape': (30471, 292), 'Macro dataset shape': (2484, 100)}

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Columns: 292 entries, id to price_doc
dtypes: float64(119), int64(157), object(16)
memory usage: 67.9+ MB

In [6]:
macro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 100 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   timestamp                                   2484 non-null   object
 1   oil_urals                                   2484 non-null   float64
 2   gdp_quart                                   2394 non-null   float64
 3   gdp_quart_growth                            2394 non-null   float64
 4   cpi                                         2453 non-null   float64
 5   ppi                                         2453 non-null   float64
 6   gdp_deflator                                2119 non-null   float64
 7   balance_trade                               2453 non-null   float64
 8   balance_trade_growth                        2394 non-null   float64
 9   usdrub                                      2481 non-null   float64
 10  eurrub                                      2481 non-null   float64
 11  brent                                       2481 non-null   float64
 12  net_capital_export                          2088 non-null   float64
 13  gdp_annual                                  2484 non-null   float64
 14  gdp_annual_growth                           2484 non-null   float64
 15  average_provision_of_build_contract         2484 non-null   float64
 16  average_provision_of_build_contract_moscow  2119 non-null   float64
 17  rts                                         2474 non-null   float64
 18  micex                                       2474 non-null   float64
 19  micex_rgbi_tr                               2474 non-null   float64
 20  micex_cbi_tr                                2483 non-null   float64
 21  deposits_value                              2484 non-null   int64
 22  deposits_growth                             2453 non-null   float64
 23  deposits_rate                               2070 non-null   float64
 24  mortgage_value                              2484 non-null   int64
 25  mortgage_growth                             2119 non-null   float64
 26  mortgage_rate                               2484 non-null   float64
 27  grp                                         1826 non-null   float64
 28  grp_growth                                  1461 non-null   float64
 29  income_per_cap                              2191 non-null   float64
 30  real_dispos_income_per_cap_growth           1826 non-null   float64
 31  salary                                      2191 non-null   float64
 32  salary_growth                               1826 non-null   float64
 33  fixed_basket                                2484 non-null   float64
 34  retail_trade_turnover                       2191 non-null   float64
 35  retail_trade_turnover_per_cap               2191 non-null   float64
 36  retail_trade_turnover_growth                2191 non-null   float64
 37  labor_force                                 2191 non-null   float64
 38  unemployment                                2191 non-null   float64
 39  employment                                  2191 non-null   float64
 40  invest_fixed_capital_per_cap                2191 non-null   float64
 41  invest_fixed_assets                         2191 non-null   float64
 42  profitable_enterpr_share                    1826 non-null   float64
 43  unprofitable_enterpr_share                  1826 non-null   float64
 44  share_own_revenues                          1826 non-null   float64
 45  overdue_wages_per_cap                       1826 non-null   float64
 46  fin_res_per_cap                             1826 non-null   float64
 47  marriages_per_1000_cap                      1826 non-null   float64
 48  divorce_rate                                1826 non-null   float64
 49  construction_value                          1826 non-null   float64
 50  invest_fixed_assets_phys                    1826 non-null   float64
 51  pop_natural_increase                        2191 non-null   float64
 52  pop_migration                               1826 non-null   float64
 53  pop_total_inc                               1826 non-null   float64
 54  childbirth                                  2191 non-null   float64
 55  mortality                                   2191 non-null   float64
 56  housing_fund_sqm                            1826 non-null   float64
 57  lodging_sqm_per_cap                         1826 non-null   float64
 58  water_pipes_share                           1826 non-null   float64
 59  baths_share                                 1826 non-null   float64
 60  sewerage_share                              1826 non-null   float64
 61  gas_share                                   1826 non-null   float64
 62  hot_water_share                             1826 non-null   float64
 63  electric_stove_share                        1826 non-null   float64
 64  heating_share                               1826 non-null   float64
 65  old_house_share                             1826 non-null   float64
 66  average_life_exp                            2191 non-null   float64
 67  infant_mortarity_per_1000_cap               1826 non-null   float64
 68  perinatal_mort_per_1000_cap                 1826 non-null   float64
 69  incidence_population                        1826 non-null   float64
 70  rent_price_4+room_bus                       2211 non-null   float64
 71  rent_price_3room_bus                        2211 non-null   float64
 72  rent_price_2room_bus                        2211 non-null   float64
 73  rent_price_1room_bus                        2211 non-null   float64
 74  rent_price_3room_eco                        2211 non-null   float64
 75  rent_price_2room_eco                        2211 non-null   float64
 76  rent_price_1room_eco                        2211 non-null   float64
 77  load_of_teachers_preschool_per_teacher      1461 non-null   float64
 78  child_on_acc_pre_school                     1826 non-null   object
 79  load_of_teachers_school_per_teacher         2191 non-null   float64
 80  students_state_oneshift                     1826 non-null   float64
 81  modern_education_share                      1095 non-null   object
 82  old_education_build_share                   1095 non-null   object
 83  provision_doctors                           1826 non-null   float64
 84  provision_nurse                             2191 non-null   float64
 85  load_on_doctors                             2191 non-null   float64
 86  power_clinics                               1826 non-null   float64
 87  hospital_beds_available_per_cap             1461 non-null   float64
 88  hospital_bed_occupancy_per_year             1461 non-null   float64
 89  provision_retail_space_sqm                  731 non-null    float64
 90  provision_retail_space_modern_sqm           730 non-null    float64
 91  turnover_catering_per_cap                   2191 non-null   float64
 92  theaters_viewers_per_1000_cap               1461 non-null   float64
 93  seats_theather_rfmin_per_100000_cap         2191 non-null   float64
 94  museum_visitis_per_100_cap                  1461 non-null   float64
 95  bandwidth_sports                            1826 non-null   float64
 96  population_reg_sports_share                 1461 non-null   float64
 97  students_reg_sports_share                   1461 non-null   float64
 98  apartment_build                             1826 non-null   float64
 99  apartment_fund_sqm                          1826 non-null   float64
dtypes: float64(94), int64(2), object(4)
memory usage: 1.9+ MB

The initial inspection shows that the training dataset is large, with 30,471 rows and 292 columns, while the macro dataset is smaller, with 2,484 rows and 100 columns. Both datasets are predominantly numerical, with some categorical columns that may require encoding.

## Data Formatting
I’ll prepare and structure the datasets for seamless integration and analysis. First, I’ll ensure that date information in both datasets is standardized by converting the timestamp column to a datetime format. After this, I’ll merge the training and macr datasets on the timestamp column, allowing me to enrich the training data with additional macroeconomic features. This data formatting step is crucial for aligning and consolidating the information, setting up a consistent foundation for the modeling phase.

In [7]:
train['timestamp'] = pd.to_datetime(train['timestamp'])
macro['timestamp'] = pd.to_datetime(macro['timestamp'])

In [8]:
train['timestamp']

0       2011-08-20
1       2011-08-23
2       2011-08-27
3       2011-09-01
4       2011-09-05
           ...
30466   2015-06-30
30467   2015-06-30
30468   2015-06-30
30469   2015-06-30
30470   2015-06-30
Name: timestamp, Length: 30471, dtype: datetime64[ns]

In [9]:
train_macro_combined = pd.merge(train, macro, on="timestamp", how="left")

In [10]:
train_macro_combined.shape

(30471, 391)

After merging, I checked the shape of the DataFrame to confirm success. The result is (30471, 391), matching the original 30,471 rows and showing an increase in columns from 292 to 391. This confirms that the merge was successful, with the macro features correctly added by timestamp.

In [12]:
# Saving my new dataset into csv file

processed_data_dir = "data/processed_data"
os.makedirs(processed_data_dir, exist_ok=True)

file_path = os.path.join(processed_data_dir, "train_macro_combined.csv")
train_macro_combined.to_csv(file_path, index=False)

print(f"Dataset saved to {file_path}")

Dataset saved to data/processed_data\train_macro_combined.csv